<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The DATABASE of DOOM</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://vuejs.org/js/vue.js"></script>
        <script src="js/vue_script.js" defer></script>
    </head>
    <body>
        <main id="everything">
			<header>DATABASE, DATABASE, LIVING IN THE DATABASE, WO-OH</header>
            <form id="user-data-form" v-on:submit="submitNewUser()">

                <section class="user-data-form-basic">
                    Product Code: <input v-model="productCode" type="text" placeholder="Product Code"><br/>
                    Product Quantity: <input v-model="quantity" type="number" placeholder="Product Quantity"><br/>
                    Product Price: <input v-model="price" type="number" placeholder="Product Price"><br/>
		            Product ID: <input v-model="productId" type="text" placeholder="Product ID"><br/>
                    Supplier ID: <input v-model="supplierId" type="text" placeholder="Supplier ID"><br/>
                    Supplier Name: <input v-model="supplierName" type="text" placeholder="Supplier name"><br/>
                    Supplier phone: <input v-model="supplierPhone" type="text" placeholder="Supplier phone"><br/>
                    Order ID: <input v-model="orderId" type="text" placeholder="orderId"><br/>
                </section>

                <div style="text-align: center;">
		  <p>All data with suffix Id must exist in the db</p>
                    <button type="button" class="submit-button" v-on:click="createNewProduct()">CREATE product</button>
                    <p>productCode, quantity, price, supplierId</p>
                    <button type="button" class="submit-button" v-on:click="displayAllProducts()">READ products</button>
                    <button type="button" class="submit-button" v-on:click="updateProduct()">UPDATE product</button>
                    <p>productId, productCode, quantity, price, supplierId</p>
                    <button type="button" class="submit-button" v-on:click="deleteProduct()">DELETE product</button>
                    <p>productId</p>
                    <br/>

                    <button type="button" class="submit-button" v-on:click="createNewOrder()">CREATE order</button>
                    <p>productId, quantity</p>

                    <button type="button" class="submit-button" v-on:click="updateOrder()">UPDATE order</button>
                    <p>orderId, productId, quantity</p>
                    <button type="button" class="submit-button" v-on:click="displayOrders()">READ orders</button>

		    <button type="button" class="submit-button" v-on:click="deleteOrder()">DELETE order</button>
		    <p>orderId</p>
                    <br/>

                    <button type="button" class="submit-button" v-on:click="submitNewSupplier()">CREATE supplier</button>
		    
                    <button type="button" class="submit-button" v-on:click="displayAllSuppliers()">READ supplier</button>

                    <button type="button" class="submit-button" v-on:click="updateSupplier()">UPDATE supplier</button>
                    <p>supplierId, supplierName, supplierPhone</p>
                    <button type="button" class="submit-button" v-on:click="deleteSupplier()">DELETE supplier</button>
                    <p>supplierId</p>
                    
                </div>

            </form>

        </main>
    </body>
</html>
