<!DOCTYPE html>
<html lang="en">


    <head>
        <title>The DATABASE of DOOM</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://vuejs.org/js/vue.js"></script>
        <script src="js/vue_script.js" defer></script>
    </head>


    <body>

        <main id="everything">
            
            <form id="user-data-form" v-on:submit="submitNewUser()">

                <h4 style="margin-top: 40px;">INPUT FIELDS</h4>
                
                <div id="inputBox">
                    <section class="user-data-form-basic">
                        <div class=inputFields>

                            <div class="inputFieldCategory">
                                Product Code<input v-model="productCode" type="text" placeholder="Product Code"><br/>
                                Product Quantity<input v-model="quantity" type="number" placeholder="Product Quantity"><br/>
                                Product Price<input v-model="price" type="number" placeholder="Product Price"><br/>
                                Product ID<input v-model="productId" type="text" placeholder="Product ID"><br/>
                            </div>
                            <div class="inputFieldCategory">
                                Supplier ID<input v-model="supplierId" type="text" placeholder="Supplier ID"><br/>
                                Supplier Name<input v-model="supplierName" type="text" placeholder="Supplier name"><br/>
                                Supplier phone<input v-model="supplierPhone" type="text" placeholder="Supplier phone"><br/>
                            </div>
                            <div class="inputFieldCategory">
                                Order ID<input v-model="orderId" type="text" placeholder="orderId"><br/>
                            </div>
                        </div>
                    </section>
                </div>
                
                <h4>DATABASE OPERATIONS</h4>
                <h6>Hover operation for required fields</h6>

                <div class="allOperators">

                    <div class="collectionOperators">
                        <button type="button" class="submit-button" v-on:click="createNewProduct()">
                            CREATE product
                            <p class="specification">productCode, quantity, price, supplierId</p>
                        </button>

                        <button type="button" class="submit-button" v-on:click="displayAllProducts()">
                            READ products
                        </button>

                        <button type="button" class="submit-button" v-on:click="updateProduct()">
                            UPDATE product
                            <span class="specification">productId, productCode, quantity, price, supplierId</span>
                        </button>

                        <button type="button" class="submit-button" v-on:click="deleteProduct()">
                            DELETE product
                            <span class="specification">productId</span>
                        </button>
                    </div>

                    <div class="collectionOperators">
                        <button type="button" class="submit-button" v-on:click="createNewOrder()">
                            CREATE order
                            <span class="specification">productId, quantity</span>
                        </button>
   
                        <button type="button" class="submit-button" v-on:click="updateOrder()">
                            UPDATE order
                            <span class="specification">orderId, productId, quantity</span>
                        </button>

                        <button type="button" class="submit-button" v-on:click="displayOrders()">
                            READ orders
                        </button>

                        <button type="button" class="submit-button" v-on:click="deleteOrder()">
                            DELETE order
                            <span class="specification">orderId</span>
                        </button>
            
                    </div>

                    <div class="collectionOperators">
                        <button type="button" class="submit-button" v-on:click="submitNewSupplier()">CREATE supplier</button>
		    
                        <button type="button" class="submit-button" v-on:click="displayAllSuppliers()">READ supplier</button>
    
                        <button type="button" class="submit-button" v-on:click="updateSupplier()">
                            UPDATE supplier
                            <span class="specification">supplierId, supplierName, supplierPhone</span>
                        </button>
                        

                        <button type="button" class="submit-button" v-on:click="deleteSupplier()">
                            DELETE supplier
                            <span class="specification">supplierId</span>
                        </button>
            
                    </div>
                    
                </div>

            </form>

        </main>
    </body>
</html>
